<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Home</title>
</head>

<body class="p-3 mb-2 bg-light text-black">
<div class="container">

    <!-- Logout -->
    <div id="logoutDiv">
        <form th:action="@{/logout}" method="POST">
            <button type="submit" class="btn btn-secondary float-right">Logout</button>
        </form>
    </div>

    <div id="contentDiv" style="clear: right;">

        <!-- Tabs -->
        <nav style="clear: right;">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab"
                   href="#nav-files" role="tab">Files</a>

                <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab"
                   href="#nav-notes" role="tab">Notes</a>

                <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab"
                   href="#nav-credentials" role="tab">Credentials</a>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">

            <!-- FILES TAB -->
            <div class="tab-pane fade show active" id="nav-files">

                <!-- File Messages -->
                <div class="alert alert-success"
                     th:if="${param.success != null and param.success[0] == 'fileUploaded'}">
                    File uploaded successfully!
                </div>

                <div class="alert alert-success"
                     th:if="${param.success != null and param.success[0] == 'fileDeleted'}">
                    File deleted successfully!
                </div>

                <div class="alert alert-danger"
                     th:if="${param.error != null and param.error[0] == 'emptyFile'}">
                    Please select a file before uploading.
                </div>

                <div class="alert alert-danger"
                     th:if="${param.error != null and param.error[0] == 'fileExists'}">
                    A file with this name already exists.
                </div>

                <div class="alert alert-danger"
                     th:if="${param.error != null and param.error[0] == 'fileUploadFailed'}">
                    File upload failed. Please try again.
                </div>

                <form th:action="@{/file/upload}" enctype="multipart/form-data" method="POST">
                    <div class="container">
                        <div class="row" style="margin: 1em;">
                            <div class="col-sm-2">
                                <label for="fileUpload">Upload a New File:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="file" class="form-control-file"
                                       id="fileUpload" name="fileUpload">
                            </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-dark" id="uploadButton">
                                    Upload
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="table-responsive">
                    <table class="table table-striped" id="fileTable">
                        <thead>
                        <tr>
                            <th style="width: 20%"></th>
                            <th style="width: 80%">File Name</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="file : ${files}">
                            <td>
                                <a th:href="@{/file/view/{id}(id=${file.fileId})}"
                                   target="_blank"
                                   class="btn btn-success">View</a>

                                <a th:href="@{/file/delete/{id}(id=${file.fileId})}"
                                   class="btn btn-danger">Delete</a>
                            </td>

                            <th scope="row" th:text="${file.filename}"></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- NOTES TAB -->
            <div class="tab-pane fade" id="nav-notes">

                <div class="alert alert-success"
                     th:if="${param.success != null and param.success[0] == 'noteCreated'}">
                    Note created successfully!
                </div>

                <div class="alert alert-success"
                     th:if="${param.success != null and param.success[0] == 'noteUpdated'}">
                    Note updated successfully!
                </div>

                <div class="alert alert-success"
                     th:if="${param.success != null and param.success[0] == 'noteDeleted'}">
                    Note deleted successfully!
                </div>

                <button style="margin: 0.25em;" type="button"
                        class="btn btn-info float-right"
                        onclick="showNoteModal()">
                    + Add a New Note
                </button>

                <div class="table-responsive">
                    <table class="table table-striped" id="userTable">
                        <thead>
                        <tr>
                            <th style="width: 20%"></th>
                            <th style="width: 20%">Title</th>
                            <th style="width: 60%">Description</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="note : ${notes}">
                            <td>
                                <button type="button"
                                        class="btn btn-success"
                                        th:data-noteid="${note.noteid}"
                                        th:data-title="${note.notetitle}"
                                        th:data-description="${note.notedescription}"
                                        onclick="showNoteModal(
                                            this.dataset.noteid,
                                            this.dataset.title,
                                            this.dataset.description
                                        )">
                                    Edit
                                </button>

                                <a th:href="@{/note/delete/{id}(id=${note.noteid})}"
                                   class="btn btn-danger">Delete</a>
                            </td>

                            <th scope="row" th:text="${note.notetitle}"></th>
                            <td th:text="${note.notedescription}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Note Modal -->
                <div class="modal fade" id="noteModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title">Note</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <form th:action="@{/note}" method="POST">

                                    <input type="hidden" name="noteid" id="note-id">

                                    <div class="form-group">
                                        <label for="note-title">Title</label>
                                        <input type="text" name="notetitle"
                                               class="form-control"
                                               id="note-title" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="note-description">Description</label>
                                        <textarea class="form-control"
                                                  name="notedescription"
                                                  id="note-description"
                                                  rows="5" required></textarea>
                                    </div>

                                    <button id="noteSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button"
                                        class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>

                                <button type="button"
                                        class="btn btn-primary"
                                        onclick="$('#noteSubmit').click();">
                                    Save changes
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- CREDENTIALS TAB -->
            <div class="tab-pane fade" id="nav-credentials">

                <button style="margin: 0.25em;" type="button"
                        class="btn btn-info float-right"
                        onclick="showCredentialModal()">
                    + Add a New Credential
                </button>

                <div class="table-responsive">
                    <table class="table table-striped" id="credentialTable">
                        <thead>
                        <tr>
                            <th style="width: 20%"></th>
                            <th style="width: 35%">URL</th>
                            <th style="width: 20%">Username</th>
                            <th style="width: 25%">Password</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="credential : ${credentials}">
                            <td>
                                <button type="button"
                                        class="btn btn-success"
                                        th:data-credentialid="${credential.credentialid}"
                                        th:data-url="${credential.url}"
                                        th:data-username="${credential.username}"
                                        th:data-password="${@credentialService.getDecryptedPassword(credential)}"
                                        onclick="showCredentialModal(
                                            this.dataset.credentialid,
                                            this.dataset.url,
                                            this.dataset.username,
                                            this.dataset.password
                                        )">
                                    Edit
                                </button>

                                <a th:href="@{/credential/delete/{id}(id=${credential.credentialid})}"
                                   class="btn btn-danger">Delete</a>
                            </td>

                            <th scope="row" th:text="${credential.url}"></th>
                            <td th:text="${credential.username}"></td>
                            <td th:text="${credential.password}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Credential Modal -->
                <div class="modal fade" id="credentialModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title">Credential</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <form th:action="@{/credential}" method="POST">

                                    <input type="hidden" name="credentialid" id="credential-id">

                                    <div class="form-group">
                                        <label for="credential-url">URL</label>
                                        <input type="text" name="url"
                                               class="form-control"
                                               id="credential-url" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="credential-username">Username</label>
                                        <input type="text" name="username"
                                               class="form-control"
                                               id="credential-username" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="credential-password">Password</label>
                                        <input type="text" name="password"
                                               class="form-control"
                                               id="credential-password" required>
                                    </div>

                                    <button id="credentialSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button"
                                        class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>

                                <button type="button"
                                        class="btn btn-primary"
                                        onclick="$('#credentialSubmit').click();">
                                    Save changes
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script th:src="@{/js/jquery-slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<script>
    function showNoteModal(noteId, noteTitle, noteDescription) {
        $('#note-id').val(noteId ? noteId : '');
        $('#note-title').val(noteTitle ? noteTitle : '');
        $('#note-description').val(noteDescription ? noteDescription : '');
        $('#noteModal').modal('show');
    }

    function showCredentialModal(credentialId, url, username, password) {
        $('#credential-id').val(credentialId ? credentialId : '');
        $('#credential-url').val(url ? url : '');
        $('#credential-username').val(username ? username : '');
        $('#credential-password').val(password ? password : '');
        $('#credentialModal').modal('show');
    }

    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const tab = urlParams.get('tab');

        if (tab === 'notes') {
            $('#nav-notes-tab').tab('show');
        }

        if (tab === 'credentials') {
            $('#nav-credentials-tab').tab('show');
        }
    });
</script>

</body>
</html>